@import "foundation/variables";
@import "foundation";


// custom typography ----------------------------------------------------
h1 {
    word-wrap: break-word;
}
p {
    // max-width: 36em;
    text-align: justify;
}
code {
    font-size: 90%;
}
ul {
    list-style-type: square;
}
cite {
    display: block;
    text-align: right;
}
a, a:visited { text-decoration: underline;}
a[href]:after { content: ""; }
.blog-description {
    font-size: 90%;
}
.footnotes {
    font-size: 90%;
}

// links in titles
h1, h2, h3, h4, h5 {
    font-style: italic;
    a {
        color: inherit;
        text-decoration: none;
        &:hover,
        &:focus { color: lighten($header-font-color, 10%); }
    }
}


// Layout ---------------------------------------------------------------
.wrapper {
    @media #{$small} {
        @include grid-row;
    }
}
nav {
    @media (max-width: $small-screen) {
        margin-bottom: 1em;

        .face {
            display: none;
        }
        .logo {
            @include grid-column(2);
        }
        ul {
            @include grid-column(10);
            @include inline-list;
            li {
                padding-left: 2em;
            }
        }
    }

    @media #{$small} {
        @include grid-column(3, $push:9);
        margin-top: 3em;
    }
}
.logo-img {
    margin-top: 1em;
    margin-bottom: 0em;
}
.page-title {
    margin-top: 0em;
}
.name {
    font-size: 2em;
    padding-bottom: 0.3em;
}
.username {
    font-size: 3em;
    font-weight: bold;
    margin-top: 0.3em;

    a {
        color: lighten($primary-color, 5%);
    }
}
.name, .username {
    a {
        color: $header-font-color;
        font-family: $header-font-family;
        text-decoration: none;
    }
}
.navigation-list>ul>li>a {
    display: inline !important;
}

@import "compass/layout/sticky-footer";
@include sticky-footer(12em, ".wrapper", ".push", "footer");
.content {
    @media (max-width: $small-screen) {
        @include grid-column(12);
        padding-top: 0em;
    }

    @media #{$small} {
        @include grid-column($columns:8, $pull:3);
        padding: 1em;
    }
}
.footnotes {
    margin-top: 6em;
}

figure {
    text-align: center;
}
figcaption {
    font-style: italic;
    font-size: 80%;
    padding-top: 0.75em;
}


// footer text ----------------------------------------------------------
footer {
    padding-top: 4em;
    background-image: url("../img/back_pattern.png");

    p {
        text-align: center;
        max-width: none;
        color: $tertiary-color;
    }
}

// backgrounds ----------------------------------------------------------
body {
    // border-top: $side-nav-divider-color $side-nav-divider-style 1em;
    // background-image: url("../img/xv.png");
    // background-image: url("../img/whitediamond.png");
    // background-image: url("../img/diamond_upholstery.png");
}

// sidebar --------------------------------------------------------------
.navigation-list {
    margin-bottom: 2em;

    ul {
        @include side-nav;
    }
}
.logo-img {
    width: 100%;
}


// sidebar animation ----------------------------------------------------
@import "compass/css3/transition";
nav {
    opacity: 0.6;
    @media (max-width: $small-screen) {
        opacity: 1.0;
    }
    @include transition-property(opacity);
    @include transition-duration(0.5s);
    @include transition-timing-function(ease);

    &:active,
    &:focus,
    &:hover {
        opacity: 1.0;
    }
}


// code and syntax highlighting -----------------------------------------
@import "syntax-highlighting-solarized-light";

pre {
    margin-bottom: 1em;
    padding: 1em;

    overflow: auto;
    // overflow-x: scroll;
    // white-space: pre-wrap;
    background-color: rgba(218,218,218, 0.4)
}

// posts -----------------------------------------------------------------------
.post-info {
    @include grid-row(nest);
    // @include panel(transparentize($body-bg, 0.5));
    margin-bottom: 2em;

    font-size: 80%;

    .ancestors {
        @include grid-column(4);
        a {
            padding-right: 0.5em;
        }
    }

    .date {
        @include grid-column(8, true);
        text-align: right;
        color: $tertiary-color;
        &:before {
            content: "[modified "
        }
        &:after {
            content: "]"
        }
    }
}


.post-title {
    font-weight: bold;
}
