// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/foundation-global"; // *always required
// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";



// custom typography ----------------------------------------------------
h1 {
    word-wrap: break-word;
}
p {
    // max-width: 36em;
    text-align: justify;
}
code {
    font-size: 90%;
}
ul {
    list-style-type: square;
}
cite {
    display: block;
    text-align: right;
}
.blog-description {
    font-size: 90%;
}
.footnotes {
    font-size: 90%;
}

// links in titles
h1, h2, h3, h4, h5 {
    font-style: italic;
    a {
        color: inherit;
        text-decoration: none;
        &:hover,
        &:focus { color: lighten($header-font-color, 10%); }
    }
}


// Layout ---------------------------------------------------------------
.wrapper {
    @media #{$small} {
        @include grid-row;
    }
}
nav {
    @media (max-width: $small-screen) {
        @include grid-row;
        margin-bottom: 1em;

        .face {
            display: none;
        }
        .logo {
            @include grid-column(2);
        }
        ul {
            @include grid-column(10);
            @include inline-list;
            li {
                padding-left: 2em;
            }
        }
    }

    @media #{$small} {
        @include grid-column(2, $push:10);
        margin-top: 3em;
    }
}
.logo-img {
    margin-top: 1em;
    margin-bottom: 0em;
}
.page-title {
    margin-top: 0em;
}
@import "compass/layout/sticky-footer";
@include sticky-footer(12em, ".wrapper", ".push", "footer");
.content {
    @media (max-width: $small-screen) {
        @include grid-row;
        @include grid-column(12);
        padding-top: 0em;
    }

    @media #{$small} {
        @include grid-column($columns:8, $pull:2);
        padding: 1em;
    }
}
.footnotes {
    margin-top: 6em;
}

figure {
    text-align: center;
}
figcaption {
    font-style: italic;
    font-size: 80%;
    padding-top: 0.75em;
}


// footer text ----------------------------------------------------------
footer {
    padding-top: 4em;
    background-image: url("../images/xv.png");

    p {
        text-align: center;
        max-width: none;
        color: $tertiary-color;
    }
}

// backgrounds ----------------------------------------------------------
body {
    // border-top: $side-nav-divider-color $side-nav-divider-style 1em;
    // background-image: url("../images/xv.png");
    // background-image: url("../images/whitediamond.png");
    // background-image: url("../images/diamond_upholstery.png");
}

// sidebar --------------------------------------------------------------
.navigation-list {
    margin-top: 1em;
    margin-bottom: 2em;

    ul {
        @include side-nav;
    }
}
.logo-img {
    width: 100%;
}


// sidebar animation ----------------------------------------------------
@import "compass/css3/transition";
.face, .navigation-list {
    opacity: 0.6;
    @media (max-width: $small-screen) {
        opacity: 1.0;
    }
}
.face, .navigation-list {
    @include transition-property(opacity);
    @include transition-duration(0.5s);
    @include transition-timing-function(ease);

    &:active,
    &:focus,
    &:hover {
        opacity: 1.0;
    }
}


// code and syntax highlighting -----------------------------------------
@import "syntax-highlighting-solarized-light";

pre {
    margin-bottom: 1em;
    padding: 1em;

    overflow: auto;
    // overflow-x: scroll;
    // white-space: pre-wrap;
    background-color: rgba(218,218,218, 0.4)
}

// posts -----------------------------------------------------------------------
.post-info {
    @include grid-row(nest);
    // @include panel(transparentize($body-bg, 0.5));
    margin-bottom: 2em;

    font-size: 80%;

    .ancestors {
        @include grid-column(4);
        a {
            padding-right: 0.5em;
        }
    }

    .date {
        @include grid-column(8, true);
        text-align: right;
        color: $tertiary-color;
        &:before {
            content: "[modified "
        }
        &:after {
            content: "]"
        }
    }
}


.post-title {
    font-weight: bold;
}
