// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/foundation-global"; // *always required
// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

// Typefaces!
@import url(http://fonts.googleapis.com/css?family=Crete+Round:400,400italic);

// Navigation row
nav {
    @include grid-row;

    background-color: $primary-color;
    border-bottom: solid $secondary-color 1em;

    font-family: $header-font-family;
    font-size: emCalc(32px);

    .navigation-list {
        @include grid-column($columns:12, $last-column:true, $center:true);

        ul {
            margin: 1em;
            list-style-type: none;
            color: $body-bg;
            height: $topbar-height;

            .home {
                font-size: $topbar-title-font-size;
                font-weight: $topbar-title-weight;
                display: block;
            }

            li {
                float: $default-float;
            }

            .pages {
                float: right;

                li {
                    margin-left: 1em;
                }
            }

            a {
                color: $body-bg;
                &:hover,
                &:focus {
                    color: darken($body-bg, 6%);
                }
            }
        }
    }
}

// Page title and header
header {
    @include grid-row;

    .page-title {
        @include grid-column($columns:12, $last-column:true, $center:true);

        h1 {
            margin-top: 0.75em;
            line-height: 1;
            font-weight: bold;
            text-align: center;
        }

    }
}


.content {
    // generic body content
    @include grid-row;
    .generic {
        @include grid-column($columns:7, $last-column:true, $center:true);
    }

    // blog content
    .blog-post {
        @include grid-column($columns:9, $last-column:true, $center:true);
    }
}


// Sticky footer!
@import "compass/layout";
@include sticky-footer(8em, ".wrapper", ".push", "footer");
footer {
    padding-top: 2em;
    text-align: center;

    background-color: $footer-color;
    color: $secondary-color;
}
.push {
    margin-bottom: 3em;
}


// smaller text in CODE elements, as monospace fonts have taller x-heights:
code {
    font-size: 90%;
}
