// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/foundation-global"; // *always required
// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";



// custom typography
.content {

    h1 {
        // margin-top: 0.75em;
        line-height: 1;
        font-weight: bold;
        text-align: center;
    }

    p {
        text-align: justify;
        max-width: 38em;
    }

    code {
        font-size: 90%;
    }
}



// Layout
.wrapper {
    @include grid-row;

    nav {
        @include grid-column(2);
        margin-top: 1em;
    }

    .content {
        @include grid-column($columns:9, $last-column:true, $push:1);
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .push {
    }

    footer {
    }
}
@import "compass/layout/sticky-footer";
@include sticky-footer(8em, ".wrapper", ".push", "footer");

// footer stuff
footer {
    padding-top: 2em;
    background-color: $primary-color;

    p {
        text-align: center;
        color: $body-bg;
    }
}

// backgrounds
body {
    border-top: $side-nav-divider-color $side-nav-divider-style 1em;
    // background-image: url("../images/xv.png");
    background-image: url("../images/whitediamond.png");
    // background-image: url("../images/diamond_upholstery.png");
}
.content {
    background-color: rgba(255,255,255, 0.5);
}

// sidebar
nav {
    .navigation-list {
        margin-top: 2em;
    }

    ul {
        @include side-nav;
        li {
            text-align: center;
        }
    }

    .logo img {
        width: 100%;
        margin-bottom: 2em;
    }
}

// sidebar animation
@import "compass/css3/transition";
.logo, .navigation-list {
    opacity: 0.5;

    @include transition-property(opacity);
    @include transition-duration(0.5s);
    @include transition-timing-function(ease);

    &:hover {
        opacity: 1.0;
    }
}

// code and syntax highlighting
@import "syntax-highlighting";
pre {
    margin-bottom: 1em;
    padding: 1em;
    background-color: $quaternary-color;
}

// blog-post info
.blog-post {

    .info {
        @include panel($body-bg);
    }
}
