<!doctype html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>$title$</title>
        $if(description)$
        <meta name="description" content="$description$">
        $endif$
        <link rel="author" href="Ben Jeffrey">

        <link rel="shortcut icon" href="/favicon.ico" />

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheet.css" />
    </head>


    <body>
        <div class="wrapper">
            <nav>
                <h1><a href="/">~Ben Jeffrey/</a></h1>
                <ul class="inline-list">
                    <li>
                        <a href="/cv">cv</a>
                    </li>
                    <li>
                        <a href="mailto:mail@benjeffrey.com">email</a>
                        <small>(<a class="public-key" href="/mail@benjeffrey.com.asc">public key: AEA73FB6</a>)</small>
                    </li>

                    <li class="divider"></li>

                    <li>
                        <a href="http://www.facebook.com/cratical">Facebook</a>
                    </li>
                    <li>
                        <a href="https://github.com/jeffbr13">GitHub</a>
                    </li>
                    <li>
                        <a href="http://twitter.com/jeffbr13">Twitter</a>
                    </li>
                    <li>
                        <a href="/vCard.vcf">vCard</a>
                    </li>
                </ul>
            </nav>

            $body$
        </div>

        <div class="push"></div>

        <footer class="hide-for-print">
            <p>
                ⚒ Built with <a href="http://jaspervdj.be/hakyll/">Hakyll</a>.

                Source available on <a href="https://github.com/jeffbr13/benjeffrey.com">GitHub</a>.

                Original content reusable under the <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">CC-BY 4.0 International License</a>.
            </p>

            <!-- Le Javascript -->
            <script type="text/javascript">
              var _gauges = _gauges || [];
              (function() {
                var t   = document.createElement('script');
                t.type  = 'text/javascript';
                t.async = true;
                t.id    = 'gauges-tracker';
                t.setAttribute('data-site-id', '51e6e6a2613f5d4682000060');
                t.src = '//secure.gaug.es/track.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(t, s);
              })();
            </script>
            <!--  -->
        </footer>
    </body>
</html>
