pre {
    margin-bottom: 1em;
    padding: 1em;

    overflow-wrap: normal;
    overflow: auto;
    overflow-x: scroll;
    white-space: pre;
}

pre {
  code {
    background-color: inherit;
    border: inherit;
  }
}
