// Specify layout using the Foundation Grid Sass classes:
//=======================================================

.wrapper {
    @media #{$small} {
        @include grid-row;
    }
}


// Fade sidebar:
//--------------
@import "compass/css3/transition";
nav {
    opacity: 0.4;
    @media (max-width: $small-screen) {
        opacity: 1.0;
    }
    @include transition-property(opacity);
    @include transition-duration(0.5s);
    @include transition-timing-function(ease);

    &:active,
    &:focus,
    &:hover {
        opacity: 1.0;
    }
}


// Footer:
//--------

@import "compass/layout/sticky-footer";
@include sticky-footer(7em, ".wrapper", ".push", "footer");
.content {
    @media (max-width: $small-screen) {
        @include grid-column(12);
        padding-top: 0em;
    }

    @media #{$small} {
        @include grid-column($columns:8, $pull:3);
        padding: 1em;
    }
}

footer {
    padding-top: 3em;

    p {
        text-align: center;
        max-width: none;
        color: $tertiary-color;
    }
}

.push {
    margin-top: 6em;
}
