// Specify layout using the Foundation Grid Sass classes:
//=======================================================

.wrapper {
    @media #{$small} {
        @include grid-row;
    }
}


// Fade sidebar:
//--------------
@import "compass/css3";
nav {
    opacity: 0.4;
    @media #{$small-only} {
        opacity: 1.0;
    }
    @include transition-property(opacity);
    @include transition-duration(0.5s);
    @include transition-timing-function(ease);

    &:active,
    &:focus,
    &:hover {
        opacity: 1.0;
    }
}


// Footer:
//--------

@import "compass/layout/sticky-footer";
@include sticky-footer(7em, ".wrapper", ".push", "footer");

footer {
    padding-top: 3em;

    p {
        text-align: center;
        max-width: none;
    }
}

.push {
    margin-top: 6em;
}
