// Colour scheme based on Dayle Rees's TronLegacy color-scheme
// https://github.com/daylerees/colour-schemes
// http://tmtheme-editor.herokuapp.com/
// http://hackage.haskell.org/package/highlighting-kate
@import "syntax-highlighting-base";

$background: #14191F;
$foreground: #AEC2E0;
$comment: #324357;
$string: #FF410D;
$number: #C7F026;
$keyword: #748AA6;


.sourceCode, code {
  background-color: $background;
  color: $foreground;

  .kw { color: $keyword; }
  .bn { color: $number; }
  .fl { color: $number; }
  .ch { color: $string; }
  .st { color: $string; }
  .co { color: $comment; }
  .ot { color: #A57800; }
  .al { color: #CB4B16; font-weight: bold; }
  .fu { color: $keyword; }
  .er { color: #D30102; font-weight: bold; }
}
