@import "normalize";
@import "foundation/variables";
@import "foundation";
@import "layout";
@import "code";


// Typography:
//------------

cite {
    display: block;
    text-align: right;
}

.blog-description {
    font-size: 90%;
}

h1, h2, h3, h4, h5 {
    a {
        color: inherit;
        text-decoration: none;
    }
}

p {
    max-width: 40em;
}

// posts -----------------------------------------------------------------------
.post-title {
    font-weight: bold;
}

.post-info {
    @include grid-row(nest);
    margin-bottom: 2em;

    font-size: 80%;

    .ancestors {
        @include grid-column(4);
        a {
            padding-right: 0.5em;
        }
    }

    .date {
        @include grid-column(8, true);
        text-align: right;
        color: $tertiary-color;
        &:before {
            content: "[modified "
        }
        &:after {
            content: "]"
        }
    }
}
